<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
			{% block title %} Auto-Rétro Club
			{% endblock %}
		</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <style>
			.filter {
				display: block;
				position: sticky;
				top: 20px;
			}
		</style>

        <header class="bg-secondary">
			<h1 class="text-center">
			 Auto-Rétro Club 
			</h1>
			<div class="container-fluid text-right">

				{% if app.user is null %}


					<a class="navbar-brand text-primary" href={{ path("app_login") }}>Se connecter</a>

					<a class="navbar-brand text-primary" href={{ path("security_registration") }}>S'inscrire</a>
				{% endif %}
				{% if app.user is not null %}
					<a class="navbar-brand text-primary" href={{ path("app_logout") }}>Se déconnecter</a>
				{% endif %}

			</div>
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand" href={{ path("home") }}>Accueil</a>
				<a class="navbar-brand " href={{ path("vehicule_index") }}>Liste des Véhicules</a>
                <a class="navbar-brand" href={{ path("contact") }}>Contact</a>
			</div>
		</nav>
        {% block body %}{% endblock %}
    </body>
</html>
